<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="../../static/frontend/css/styles.css">
  <link rel="stylesheet" href="../../static/frontend/css/indexstyling.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/frontend/css/weather-icons.min.css">
  <!-- <link rel="stylesheet" href="../../static/frontend/css/App.css"> -->
</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="#">{% if user.is_authenticated %}
            Hi {{ user.username }}, Welcome to your hub!
          {% else %}
            <p>You are not logged in</p>
          {% endif %}</a></h1>
          <ul class="main-nav">
              <li><a href="{% url 'view_map' %}">View Map</a></li>
              <li><a href="{% url 'changepass' %}">Change Password</a></li>
              <li><a href="{% url 'logout' %}">Log out</a></li>
          </ul>
      </header> 
    


  


    

  <section class="section">
    <div class="container">
          <div id="root"><!-- React --></div>

    </div>
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>