<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="../../static/frontend/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../../static/frontend/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content" style="z-index: 1;">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" onkeyup="checkPassword()"/>
                                <span id="errormessage" style="color: red; position: static; left:10cm; top: 10.5cm; z-index: 10;"></span>
                            </div>
                            <div class="form-group">
                                <span id="break"></span>
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <p> Already have an account? Sign in <a href="{% url 'checkin' %}">here</a></p>
                    
                            {% if message %}
                                <p style="font-size: 16px;">Error：<span style="color: red">{{ message }}</span></p>
                            {% endif %}
                    <div class="signup-image">
                        <figure><img src="../../static/frontend/imagesforlogin/signup-image.jpg" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
       

    <!-- JS -->
    <script src="../../static/frontend/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/frontend/js/main2.js"></script>
    <script src="../../static/frontend/js/passwordcheck.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>